.nameAndLastName {
  width: 878px;
  display: flex;
  justify-content: space-between;
}

.nameDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  gap: 1px;
}

.nameDiv input {
  width: 100%;
  border-radius: 3px;
  border: 2px solid rgb(138, 190, 225);
  height: 40px;
}

.requirments {
  font-size: 13px;
  color: gray;
}

.title {
  font-size: 15px;
  font-weight: 550;
}

.team {
  width: 878px;
}

.option {
  height: 100px;
}

.fullInput {
  width: 878px;
}

.inputDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.inputDiv input {
  width: 100%;
  border-radius: 3px;
  border: 2px solid rgb(138, 190, 225);
  height: 40px;
}
.actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 878px;
}

.actions button {
  background-color: #62a1eb;
  color: white;
  border: none;

  padding: 12px 30px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}
