.page {
  width: 100vw;
  height: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.mainForm {
  width: 1250px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: white;
  border: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 50px;
  height: 100%;
}

.chooseForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.chooseForm span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.active {
  border-bottom: 2px solid black;
  padding: 20px;
  width: fit-content;
}
@media only screen and (max-width: 500px) {
  .page {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .mainForm {
    position: relative;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;
    border: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    right: 25px;
  }

  .chooseForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .chooseForm span {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }

  .none {
    display: none;
  }
}

.back {
  position: relative;
  top: 50px;
  right: 200px;
}
.back img:hover {
  cursor: pointer;
}
