.chooseImage {
  width: 878px;
  height: 450px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #62a1eb;
  border-radius: 8px;
  border: 1px dashed #62a1eb;
}
.chooseImage span {
  max-width: 250px;
  font-weight: 500;
  font-size: 19px;
}
.chooseImage button {
  background-color: #62a1eb;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 30px;
}

.img {
  width: 878px;
  height: 100%;
  position: relative;

  top: 10px;
}
@media only screen and (max-width: 500px) {
  .chooseImage {
    width: 320px;
    height: 250px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #62a1eb;
    border-radius: 8px;
    border: 1px dashed #62a1eb;
  }
  .chooseImage span {
    max-width: 250px;
    font-weight: 500;
    font-size: 19px;
  }
  .chooseImage button {
    background-color: #62a1eb;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 35px;
  }

  .img {
    width: 320px;
    height: 100%;
    position: relative;
    top: 10px;
  }
}
