.title {
  font-size: 17px;
  font-weight: 550;
  position: relative;
  bottom: 3px;
}
.requirments {
  font-size: 13px;
  color: gray;
  position: relative;
  top: 3px;
}
.input {
  width: 100%;
  border-radius: 8px;
  border: 1.8px solid rgb(138, 190, 225);
  height: 40px;
}
.input:focus{
  width: 100%;
  border-radius: 8px;
  border: 1.8px solid #6499FF;
  background : rgba(43, 75, 242, 0.06);
  height: 40px;
}

.errorTitle{
  font-size: 15px;
  font-weight: 550;
  color: red;
}
.error{
  font-size: 13px;
  
  color: red;
}

.Errorinput{
  font-size: 15px;
  font-weight: 550;
  border: 2px solid red;
  width: 100%;
  border-radius: 3px;
  height: 40px;
}